@page
@model DigitalCards.Web.Pages.Client.ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar contrasena";
}

<div class="p-auth-simple">
    <h1 class="p-page-heading mb-2">Cambiar contrasena</h1>
    <p class="p-page-sub mb-4">Esta seccion ahora vive en tu perfil.</p>
    <a class="btn btn-primary" asp-page="/Client/Profile" asp-fragment="password">Ir a perfil</a>
</div>
